{% extends "base.html" %}

{% block content %}
    <div class="au-card m-b-30">
        <div class="au-card-inner">
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    Preencha os dados corretamente! <div style="padding-left: inherit;">{{ form.errors }}</div>
                </div>
            {% endif %}

            <form method="POST" class="row" id="form">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group col-md-3">
                        {% if field.field.widget.input_type != 'hidden'%}
                            <label class="control-label">{{ field.label }}</label>
                        {% endif %}
                        {{ field }}
                    </div>
                {% endfor %}

                <div class="form-row form-group col-md-12 justify-content-end">
                    <button class="btn btn-primary" type="button" onclick="preencherValores()">Avançar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        function gerarCampo(i) {
            return '     <div class="col-2">' +
                   '         <label for="ano' + i + '" style="text-align: left;" class="control-label">Valor Ano ' + i + '</label>' +
                   '         <input id="ano' + i + '" type="number" class="form-control">' +
                   '     </div>'
        }

        function preencherValores() {
            var html = '<div class="col-12">';

            for (var i=1; i <= 10; i++) {
                html += " " + gerarCampo(i);
            }

            html += '</div>';

              swal.fire({
                  title: 'Preencha os valores contribuidos em cada ano:',
                  width: 1000,
                  html: html,
                  preConfirm: function () {
                      return [
                          document.getElementById('swal-input1').value,
                          document.getElementById('swal-input2').value
                      ]
                  }
            });
        }
    </script>

    {% if error_message %}
        <script type="text/javascript">
            swal.fire({
                type: 'warning',
                text: "{{ error_message }}"
            });
        </script>
    {% endif %}

    {% if confirm_message %}
        <script type="text/javascript">
            swal.fire({
                type: 'success',
                text: "{{ confirm_message }}",
                showCancelButton: true,
                confirmButtonText: 'Sim',
                cancelButtonText: 'Não',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33'
            }).then(function (result) {
                if (result.value) {
                    var form = document.getElementById('form');
                    form.action = '/aposentar';
                    form.submit();
                } else {
                    location.href = location.href
                }
            });
        </script>
    {% endif %}
{% endblock scripts %}