{% extends "base.html" %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Informações Gerais</strong>
        </div>
        <div class="card-body">
            <div class="au-card-inner">
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    Preencha os dados corretamente! <div style="padding-left: inherit;">{{ form.errors }}</div>
                </div>
                {% endif %}

                <form method="POST" class="row" id="form">
                    {% csrf_token %}

                  <div class="row container-fluid">
                    <div class="col">
                      <section class="card">
                        <div class="card-body text-secondary">Nome<input type="text" name="nome" required class="input-sm form-control-sm form-control"></div>
                      </section>
                    </div>
                    <div class="col">
                      <section class="card">
                        <div class="card-body text-secondary" required>Sexo
                            <select name="sexo" class="form-control">
                                <option value="masculino">Maculino</option>
                                <option value="feminino">Feminino</option>
                            </select>
                        </div>
                      </section>
                    </div>
                    <div class="col">
                      <section class="card">
                        <div class="card-body text-secondary">CPF<input class="form-control cpf" maxlength=11 type="text"/></div>
                      </section>
                    </div>
                  </div>
                  <div class="row container-fluid">
                    <div class="col">
                      <section class="card">
                        <div class="card-body text-secondary">Data de Nascimento<input type="date" name="nascimento" required class="input-sm form-control-sm form-control"></div>
                      </section>
                    </div>
                    <div class="col">
                      <section class="card">
                        <div class="card-body text-secondary">Data da primeira Contribuição<input type="date" name="primeira-contribuição" required class="input-sm form-control-sm form-control"></div>
                      </section>
                    </div>
                    <div class="col">
                      <section class="card">
                        <div class="card-body text-secondary">Data da ultima Contribuição<input type="date" name="ultima-contribuição" required class="input-sm form-control-sm form-control"></div>
                      </section>
                    </div>
                  </div>
                    <div class="form-row form-group col-md-12 justify-content-end">
                        {% comment %}<button class="btn btn-primary" type="button" onclick="preencherValores()">Avançar</button>{% endcomment %}
                        <button class="btn btn-primary" type="submit">Simular</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <strong class="card-title">Ultimos 10 anos de Contribuição</strong>
        </div><br>
        <div class="row container-fluid">
          <div class="col">
            <section class="card">
              <div class="card-body text-secondary">
                <label>2019</label>
                <input type="number" name="ano1" class="input-sm form-control-sm form-control">
              </div>
            </section>
          </div>
          <div class="col">
            <section class="card">
              <div class="card-body text-secondary">
                <label>2019</label>
                <input type="number" name="ano2" class="input-sm form-control-sm form-control">
              </div>
            </section>
          </div>
          <div class="col">
            <section class="card">
              <div class="card-body text-secondary">
                <label>2019</label>
                <input type="number" name="ano3" class="input-sm form-control-sm form-control">
              </div>
            </section>
          </div>
          <div class="col">
            <section class="card">
              <div class="card-body text-secondary">
                <label>2019</label>
                <input type="number" name="ano4" class="input-sm form-control-sm form-control">
              </div>
            </section>
          </div>
          <div class="col">
            <section class="card">
              <div class="card-body text-secondary">
                <label>2019</label>
                <input type="number" name="ano5" class="input-sm form-control-sm form-control">
              </div>
            </section>
          </div>
          <div class="col">
            <section class="card">
              <div class="card-body text-secondary">
                <label>2019</label>
                <input type="number" name="ano6" class="input-sm form-control-sm form-control">
              </div>
            </section>
          </div>
                <div class="col">
            <section class="card">
              <div class="card-body text-secondary">
                <label>2019</label>
                <input type="number" name="ano7" class="input-sm form-control-sm form-control">
              </div>
            </section>
          </div>
                <div class="col">
            <section class="card">
              <div class="card-body text-secondary">
                <label>2019</label>
                <input type="number" name="ano8" class="input-sm form-control-sm form-control">
              </div>
            </section>
          </div>
                <div class="col">
            <section class="card">
              <div class="card-body text-secondary">
                <label>2019</label>
                <input type="number" name="ano9" class="input-sm form-control-sm form-control">
              </div>
            </section>
          </div>
                <div class="col">
            <section class="card">
              <div class="card-body text-secondary">
                <label>2019</label>
                <input type="number" name="ano10" class="input-sm form-control-sm form-control">
              </div>
            </section>
          </div>
        </div>
    </div>


{% endblock content %}

{% block scripts %}
    <script>
        function gerarCampo(i) {
            return '     <div class="col-2">' +
                   '         <label for="ano' + i + '" style="text-align: left;" class="control-label">Valor Ano ' + i + '</label>' +
                   '         <input id="ano' + i + '" type="number" class="form-control">' +
                   '     </div>'
        }

        function preencherValores() {
            var html = '<div class="col-12">';

            for (var i=1; i <= 10; i++) {
                html += " " + gerarCampo(i);
            }

            html += '</div>';

              swal.fire({
                  title: 'Preencha os valores contribuidos em cada ano:',
                  width: 1000,
                  html: html,
                  preConfirm: function () {
                      return [
                          document.getElementById('swal-input1').value,
                          document.getElementById('swal-input2').value
                      ]
                  }
            });
        }
    </script>

    {% if error_message %}
        <script type="text/javascript">
            swal.fire({
                type: 'warning',
                text: "{{ error_message }}"
            });
        </script>
    {% endif %}

    {% if confirm_message %}
        <script type="text/javascript">
            swal.fire({
                type: 'success',
                text: "{{ confirm_message }}",
                showCancelButton: true,
                confirmButtonText: 'Sim',
                cancelButtonText: 'Não',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33'
            }).then(function (result) {
                if (result.value) {
                    var form = document.getElementById('form');
                    form.action = '/aposentar';
                    form.submit();
                } else {
                    location.href = location.href
                }
            });
        </script>
    {% endif %}
{% endblock scripts %}