{% extends "base.html" %}

{% block content %}
    <div class="table-responsive table--no-card m-b-30">
        <table class="table table-borderless table-striped table-earning">
            <thead>

                <tr>
                    <th>Nome</th>
                    <th>Sexo</th>
                    <th>CPF</th>
                    <th>Aptos</th>
                    <th>Aposentados</th>
                    <th>
                    <input class="au-input" type="number" name="filtrar_cpf" placeholder="Filtrar por CPF" />
                        <button class="au-btn-filter">
                            <i class="zmdi zmdi-filter-list"></i></button>
                        </button>
                    </th>
                    <th class="text-right">Valor Aposentadoria</th>
                </tr>
            </thead>
            <tbody>
                {% for aposentado in object_list %}
                    <tr>
                        <td>{{ aposentado.nome }}</td>
                        <td>
                            {% if aposentado.sexo == 'F' %}
                                Feminino
                            {% else %}
                                Masculino
                            {% endif %}
                        </td>
                        <td>{{ aposentado.cpf }}</td>
                        <td class="text-right">
                            R$ {{ aposentado.valor_aposentadoria }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}